@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;

@layer base {
  @import 'fonts';
  @import 'variables';
  @import 'mixin';

  html,
  body {
    @apply h-full;
    direction: $direction;
    font-family: $fontFamily;
  }

  h1 {
    @apply text-h1 font-bold;
  }
  h2 {
    @apply text-h2 font-bold;
  }
  h3 {
    @apply text-h3 font-bold;
  }
  h4 {
    @apply text-h4 font-bold;
  }
  h5 {
    @apply text-h5 font-bold;
  }
  h6 {
    @apply text-h6 font-bold;
  }


  /* width */
  ::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.3);
    opacity: 0.3;
    border-radius: 10px;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply text-pen-light dark:text-body-dark;
    padding: 0 !important;
    margin: 0 auto !important;
  }
}
